#for idea project
.idea
out/
*.iml
*.ipr
*.iws


#eclipse project
.classpath
.project
.settings

#gradle temp 
build/
/javafx/scalafx/gradle/wrapper/gradle-wrapper.jar
/javafx/scalafx/gradle/wrapper/gradle-wrapper.properties
/javafx/scalafx/gradlew
/javafx/scalafx/gradlew.bat
/javafx/tornadoFx/gradle/wrapper/gradle-wrapper.jar
/javafx/tornadoFx/gradle/wrapper/gradle-wrapper.properties
/javafx/tornadoFx/gradlew
/javafx/tornadoFx/gradlew.bat
/webgl/webgl_point_test_server/gradle
/webgl/webgl_point_test_server/gradlew
/webgl/webgl_point_test_server/gradlew.bat
/**/gradlew*
/**/gradle*
/**/.gradle
/scala3/project/project/
/scala3/project/target/
/scala3/target
/scala3/.bsp/
